#main-header {
    background-color: #343a40;
    color: white;
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#city-location {
    margin-bottom: 16px;
}

#city-location > p {
    margin: 0px;
}

#current-weather-container, #forecast-weather-container {
    background-color: rgb(130, 226, 218);
    border: 2px gray solid !important;
    border-radius: 20px;
    padding: 0px;
}

#current-weather-container, #forecast-days, #forecast-weather-container {
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
    border: 2px;
    min-width: 220px;
}

#current-weather {
    border-right: 0px;
}

#forecast {
    margin-top: 20px;
    margin-left: 10px;
}

#forecast > * {
    margin-bottom: 1px;
    min-width: 224px;
}

#forecast-days {
    margin-top: 5px;
}

#current-weather-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#weather-image-icon {    
    /* border-style: double; */
    background-color: #c7fbfb;
    border-radius: 50%;
    margin-top: 2px;
    margin-bottom: 5px;
}

#forecast-weather-container {
    background-color: lightyellow !important;
    padding-bottom: 12px;
}

.rounded-corners {
    border: 2px solid black;
    border-radius: 25px;

}

.hide {
    display: none;
}

.show {
    display: block;
}